<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloud.apps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="your.package.alarm.permission.SET_ALARM" />

    <application
        android:name="com.cloud.apps.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FileManagerDemo.WithActionBar">
        <activity
            android:name="com.cloud.apps.activities.ConnectivityActivity"
            android:exported="true" />
        <activity
            android:name="com.cloud.apps.activities.SelectedFolderListActivity"
            android:exported="true" />
        <activity
            android:name="com.cloud.apps.activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.cloud.apps.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FileManagerDemo.WithActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.cloud.apps.services.TestService" />

        <receiver android:name="com.cloud.apps.broadcastReceivers.TaskReceiver" android:exported="false"/>

    </application>

</manifest>